@charset "UTF-8";
/*em html é id="blabla" em CSS # (só pode 1 elemento)
  em html é class em CSS é . (pode vários elementos)*/
body{
    background-color: rgb(205,255,208);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #517A57;
}
#principal{
    text-align: center;
    background-color: rgb(52, 99, 2);
    color: white;

}
h2{
    color:rgb(105, 164, 17)

    }
.basico{
    color:#3fa64e9a;
    font-weight: bold;
}    
.intermediario{
    color:#d8d520a9;
    font-weight: bold;
}
.avançado{
    color:#b66b439a;
    font-weight: bold;
}
.destaque{
    background-color: burlywood;
}